@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "main";
  src: url("./assets/fonts/font3.ttf");
}

:root {
  --primary: #1f3ca7;
  --secondary: #09ff7d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato;
}
ul {
  list-style: none;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
}

header {
  background-color: var(--secondary);
  padding: 0.5rem 0;
  height: 15vh;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-size: 18px;
  margin-left: 2px;
}

.logo-text {
  color: whitesmoke;
}

.menu > li,
.menu > a {
  display: inline-block;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 1rem;
  transition: background-color 0.8s ease;
  width: 120px;
  text-align: center;
}

.menu a:hover {
  background-color: #a5fecf;
  transition: all 0.8s ease;
  border-radius: 4px;
}

.submenu {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--secondary);
  display: none;
  /* transition: all 3s ease; */
}
.submenu a {
  text-align: left;
  width: 100%;
}

.menu li:hover > .submenu {
  display: block;
  animation: slideDown 0.4s ease;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.toogle-nav {
  display: none;
}
.nav-btn {
  display: none;
}
section {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.landing-image {
  width: 350px;
  margin-top: 3rem;
  border-radius: 15px;
  border: 3px solid gray;
}

.btn-text {
  font-size: 18px;
}

.btn {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #1f3ca7;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.btn:hover {
  background-color: var(--secondary);
  transition: background-color 0.8s ease;
  color: #f3f3f3;
}

.first-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.main-text {
  color: black;
  font-size: 70px;
  font-family: main;
  line-height: initial;
}

.top-margin {
  margin-top: 20px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  width: 45%;
}

.colored-text {
  color: var(--primary);
}

.joinus-text {
  color: #727272;
  font-size: 18px;
}

@media screen and (max-width: 830px) {
  nav {
    margin-left: 20px;
  }
  .menu {
    position: absolute;
    right: 0;
    top: 70%;
    background-color: var(--secondary);
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
  }

  .menu > li,
  .menu > a {
    display: block;
  }

  .menu li {
    position: relative;
  }

  .menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 1rem;
    transition: background-color 0.8s ease;
    width: 120px;
    text-align: center;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .menu a:hover {
    background-color: #a5fecf;
    transition: all 0.8s ease;
    border-radius: 4px;
  }

  .submenu {
    position: absolute;
    width: 100%;
    left: -120px;
    top: 0;
    background-color: var(--secondary);
    display: none;
    transition: all 3s ease;
  }
  .submenu a {
    text-align: left;
    width: 100%;
  }

  .menu li:hover > .submenu {
    display: block;
    animation: slideLeft 0.4s ease;
  }
  .toogle-nav {
    display: none;
  }
  .toogle-nav:checked ~ .menu {
    transform: scale(1, 1);
  }
  .toogle-nav:checked ~ .menu a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .nav-btn {
    height: 40px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .nav-btn span,
  .nav-btn span::after,
  .nav-btn span::before {
    display: block;
    height: 3px;
    width: 35px;
    background-color: white;
    position: relative;
    transition: all 0.5s ease-in-out;
  }

  .nav-btn span::before {
    content: "";
    position: absolute;
    bottom: 10px;
  }

  .nav-btn span::after {
    content: "";
    position: absolute;
    top: 10px;
  }

  .toogle-nav:checked ~ .nav-btn span {
    background: transparent;
  }

  .toogle-nav:checked ~ .nav-btn span::before {
    transform: rotate(45deg);
    bottom: 0px;
    transition: all 0.5s ease-in-out;
  }

  .toogle-nav:checked ~ .nav-btn span::after {
    top: 0px;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
}
